.history-section{
    padding: 210px 0px 160px 0px;
    text-align: center;
}
.sherrif-history-start p{
    font-size: 19.5px;
    color: #666666;
    font-family: "Montserrat-Medium";
}
@media screen and (max-width: 991px) {
    h1{
        font-size: 35px;
    }
    p{
        font-size: 17.5px !important;
    }
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    p{
        font-size: 14px !important;
    }
}