@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0068b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Mobile Header */
.mobile-header {
  width: 25%;
  height: 100%;
  position: fixed;
  background: #ffffffc2;
  top: 0;
  z-index: 9;
  right: 0;
  padding: 30px 10px 0px 10px;
  transition: 0.7s;
  transform: translateX(100%);
  box-shadow: 0px 0px 7px #ddd;
}

li.nav-link a {
  color: #000;
}

#header .mobile-header.show {
  transform: translateX(0%);
}

#header .mobile-header ul.mobile-nav {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

#header .mobile-header .cancel {
  background: #000000;
  width: 35px;
  text-align: center;
  height: 34px;
  line-height: 35px;
  margin: 0px 20px 20px auto;
  color: #fff;
}

#header .mobile-header ul.mobile-nav li.nav-item {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
}

.all-nav li.for-contact-brn-header button.btn {
  font-family: "Montserrat-Medium";
  font-size: 15px;
  font-weight: 800;
  border-radius: 0px;
  padding: 9px 23px;
}

#header .canvas-icon i {
  font-size: 24px;
  background: #000000;
  padding: 5px 7px;
  color: #fff;
  display: none;
}

.responsive-contact-btn a {
  display: unset;
  padding: 9px 33px !important;
}

header .contact-form-dropdown-wrapper {
  position: absolute;
  width: 325px;
  left: -146%;
  background: #fff;
  padding: 23px;
  top: 131%;
  z-index: 9;
}
header li.for-contact-brn-header {
  position: relative;
}
header .contact-form-dropdown-wrapper input {
  border-radius: 0px;
  border: 1px solid #c3cad9;
  background: #f3f3f3;
  font-family: "Montserrat-Medium";
  font-size: 15px;
}
header .contact-form-dropdown-wrapper input::placeholder {
  color: #959ead;
}
header .contact-form-dropdown-wrapper textarea {
  border-radius: 0px;
  border: 1px solid #c3cad9;
  background: #f3f3f3;
  font-family: "Montserrat-Medium";
  font-size: 15px;
}
header .contact-form-dropdown-wrapper textarea::placeholder {
  color: #959ead;
}
header .contact-form-dropdown-wrapper button {
  background: #000000;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat-regular" !important;
}
.contact-form-dropdown-wrapper a {
  font-size: 12px;
  padding: 0px !important;
  text-decoration: underline;
  color: #000;
}
.contact-form-dropdown-wrapper .form-group:last-child {
  margin-bottom: 0px !important;
}
.contact-form-dropdown-wrapper form {
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  #header .nav {
    display: none;
  }

  .responsive-contact-btn {
    display: initial;
  }

  .navbar-items {
    display: none !important;
  }

  .all-normal-navs {
    justify-content: space-between !important;
  }

  #header .second-col-input {
    display: none;
  }

  #header button.navbar-toggler {
    display: none;
  }

  #header .canvas-icon i {
    display: block;
  }
}

@media (max-width: 575px) {
  #header .mobile-header {
    width: 35%;
  }
}

@media (max-width: 480px) {
  #header .mobile-header {
    width: 55%;
  }
}

/* Mobile Header */

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url(../fonts/static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Barlow-semibold";
  src: url(../fonts/barlow/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: "popins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-light";
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "nunito-regular";
  src: url(../fonts/nunito/Nunito-Regular.ttf);
}

* {
  font-family: "Montserrat-Medium";
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h4,
h5 {
  font-family: "Montserrat-Bold";
  color: #000000;
}

h3 {
  font-family: "Montserrat-regular";
}

h6 {
  font-family: "Montserrat-semibold";
}

span {
  font-family: "Montserrat-regular" !important;
}

p {
  font-family: "Montserrat-regular";
  color: #000000;
  font-size: 14px;
}

h1 {
  font-size: 42px;
}

h3 {
  font-size: 33px;
}

a {
  text-decoration: none;
}

a.btn {
  padding: 9px 22px;
  color: #000000 !important;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
}

.for-logo {
  position: relative;
  top: 15px;
}
.all-nav {
  padding-top: 29px;
}

.all-normal-navs {
  display: flex;
  background-color: #131313;
  padding: 0px 9% 0px 7%;
  height: 70px;
  align-items: center;
  margin-bottom: 0px;
}

.navbar-items {
  display: flex;
  margin-left: 45px;
}

.normal-nav-items {
  color: black;
  font-family: arial;
  font-size: 14px;
  padding: 8px 14px;
  list-style-type: none;
  margin-right: 14px;
}

li {
  list-style-type: none;
}

.bar-icon {
  display: none;
}
.navbar-items a {
  color: #ffffff;
  font-family: "Montserrat-Medium";
  font-size: 15px;
  font-weight: 500;
}
.bar-icon i {
  cursor: pointer;
}

@media screen and (max-width: 1490px) {
  .all-normal-navs {
    padding: 0px 5.7% 0px 4.8%;
  }
}

@media screen and (max-width: 1380px) {
  .all-normal-navs {
    padding: 0px 3%;
  }
}

@media screen and (max-width: 1320px) {
  .all-normal-navs {
    padding: 0px 2%;
  }

  .responsive-contact-btn a {
    display: unset;
    padding: 9px 21px !important;
  }
}

@media screen and (max-width: 1250px) {
  .all-normal-navs {
    padding: 0px 1%;
  }

  .for-logo li a img {
    width: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .normal-nav-items {
    padding: 8px 2px;
  }

  .for-logo li a img {
    width: 100px;
  }

  .for-logo {
    top: 0px;
  }
}

.banner-start {
  width: 100%;
  background-image: url(../img/banner.png);
  height: 655px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-start .text-in-banner h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 4px 5px #383838ad;
}
.book-image {
  width: 100%;
}

.after-banner-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content-img {
  padding: 0px 11%;
}
.after-banner-img .content-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  transform: translateY(100%);
  background-image: linear-gradient(359deg, #000000e3, transparent);
}
.content-img h3 {
  color: #ffffff;
  font-family: "Montserrat-Medium" !important;
}
.content-img p {
  color: #ffffff;
  font-size: 17px;
}
.after-banner-img figure {
  margin: 0;
}

.after-banner-img:hover .content-img {
  transform: unset;
}

.additional-information-seciotn {
  padding: 85px 0px 115px 0px;
  background-color: #26201c;
  text-align: center;
}

.for-additional-info-heading .additional-info-heading::after {
  content: "";
  background: #ffffff;
  width: 100px;
  border-radius: 2px;
  height: 3px;
  display: flex;
  text-align: center;
  margin-left: 45%;
  margin-top: 15px;
}

.additional-info-heading {
  font-family: "Montserrat-regular";
  font-size: 33px;
  color: #ffffff;
  display: block;
}

.choclate-heading {
  color: #26201c !important;
}

.single-img-adi {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-adi-img {
  width: 100%;
}

.text-onadi-img {
  position: absolute;
  padding: 12px 8px;
}

.text-onadi-img p {
  font-size: 18px;
  font-family: "Montserrat-Medium";
  color: #ffffff;
}

.text-onadi-img-2 {
  position: absolute;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #0000008c;
}

.text-onadi-img-2 p {
  font-size: 16px;
  font-family: "Montserrat-Medium";
  color: #ffffff;
  margin-bottom: 0px;
}

.our-mission-our-values {
  padding-left: 6%;
  padding-right: 23.4%;
  height: 100%;
  display: flex;
  align-items: center;
}

.our-mission-heading span,
.core-values-heading span {
  color: #111111;
  font-family: "Montserrat-regular";
  font-size: 33px;
}

.for-mission-paras p {
  color: #666666;
}

.number-year-to-date {
  background-color: #f5f5f5;
  padding: 5px 0px;
}

.for-number-to-date-heading span {
  font-family: "Montserrat-regular";
  color: #111111;
  font-size: 34px;
}

.for-the-number-years {
  margin: 40px 0px 25px 0px;
}

.for-total-numbers {
  color: #222222;
  font-size: 45px;
}

.name-of-numbers {
  color: #808080;
  font-size: 16px;
}

.what-they-aboutus {
  display: flex;
  align-items: center;
  text-align: center;
  height: 515px;
  background-image: url(../img/about-bakground.png);
  background-size: cover;
}

.for-all-reviews {
  display: flex;
  justify-content: center;
}

.the-all-reviews-start {
  background-color: #000000;
  width: 65%;
  border-radius: 17px;
  padding: 55px 68px 66px 68px;
}

.for-what-they-heading {
  text-align: center;
  display: flex;
  justify-content: center;
}

.for-what-they-heading h3 {
  color: #ffffff;
  font-family: "Montserrat-regular" !important;
  font-size: 31px;
}

.for-what-they-heading h3::after {
  content: "";
  display: block;
  text-align: center;
  width: 86px;
  height: 2px;
  background: #ffffff1a;
  margin-left: 38%;
  margin-top: 9px;
  border-radius: 50%;
}

.for-the-original-reviews p,
.for-the-name-of-ccustomer p {
  color: #f2f2f2;
}

.for-the-name-of-ccustomer p {
  font-style: italic;
}

.for-the-original-reviews p {
  font-size: 16px;
}

.for-latest-news {
  padding: 80px 0px 115px 0px;
}

.latest-news-start {
  position: relative;
}

.latest-news-heading::after {
  content: "";
  background: #cccccc;
  width: 100px;
  border-radius: 2px;
  height: 3px;
  display: flex;
  text-align: center;
  margin-left: 45%;
  margin-top: 2px;
}

.latest-new-para-index P {
  color: #666666;
  font-style: italic;
  font-size: 13px;
}

.single-card {
  background-color: #f5f5f5;
  padding-bottom: 1px;
}

.top-in-new-card {
  display: flex;
  margin-bottom: -15px;
}

.for-date-in-news-card {
  background-color: #d3af89;
  padding: 12px 17px;
  position: relative;
  top: -35px;
}

.for-date-in-news-card span {
  color: #ffffff;
  font-size: 14px;
}

.content-in-card {
  padding-left: 22px;
  margin-top: 12px;
  margin-bottom: 0px !important;
}

.content-in-card p {
  color: #999999;
  font-size: 12px;
  margin-bottom: 0px;
}

.for-small-news-card-heading h6 {
  color: #333333;
  font-size: 14px;
}

.for-para-in-card p {
  font-size: 12px;
  color: #666666;
  padding: 0px 17px;
}

.blog-blue-color {
  color: #002b49 !important;
}

.the-hr {
  width: 84%;
  margin-left: 8%;
  background-color: #e4e4e4;
}

.for-comments p {
  color: #666666;
  font-style: italic;
  font-size: 13px;
}

.se-all-in-news-cards {
  position: absolute;
  right: 50px;
  margin-top: 35px;
}

.se-all-in-news-cards a {
  color: #444444;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}

.map-section {
  margin-top: 32px;
}

.submit-camp-trip {
  background-color: #f2f2f2;
  padding: 130px 0px 242px 0px;
}

.submit-crime-heading h4 {
  font-size: 32px;
  font-family: "Montserrat-regular";
}
.for-small-para-in-home p {
  font-size: 22px !important;
  color: #111111 !important;
}
.for-small-para-in-home p::after {
  content: "";
  background: #cccccc;
  width: 100px;
  border-radius: 2px;
  height: 3px;
  display: flex;
  text-align: center;
  margin-top: 12px;
}
.for-single-input {
  margin-top: 15px;
}
.info-wrapper ul {
  padding: 0px;
}
.info-wrapper ul li {
  line-height: 2;
}
.info-wrapper ul li a {
  color: #333333;
}
.info-wrapper ul li a i {
  margin-right: 9px;
}
.for-single-input label {
  display: block;
  color: #666666;
  font-family: "Montserrat-regular";
  font-size: 13px;
}
.info-wrapper {
  margin-top: 130px;
}
.for-single-input input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
  outline: none;
}

.for-single-input textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.attach-submit-btn {
  display: flex;
  align-items: center;
}

.attach-submit-btn label span {
  padding: 8px 25px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}
.crime-submit-btn {
  background-color: black;
  padding: 10px 40px;
  color: #ffffff;
  margin-top: -8px;
  margin-left: 35px;
  font-family: "Montserrat-regular";
  font-size: 16px;
}
/* FOOTER SECTION */
.footer {
  background-color: #0b0b0b;
  padding-top: 45px;
  padding-bottom: 25px;
}

.footer-logo figure img {
  width: 120px;
}

.facebook img,
.twitter-link img {
  width: 35px;
}

.footer-logo-social-section {
  width: 100%;
  text-align: center;
}

.footer-social-links {
  margin-top: 11px;
  display: flex;
  justify-content: center;
}

.footer ul {
  padding: 0px;
}

.useful-links-heading {
  font-family: "Barlow-semibold";
  font-size: 19px;
  color: #ffffff;
}

.the-footer-links {
  margin: 7px 0px;
}

.the-footer-links a {
  font-size: 12px;
  font-family: "Montserrat-regular";
  color: #ffffff;
}

.links-without-heading {
  margin-top: 41.5px;
}

.copyright-section {
  text-align: center;
  background-color: #000000;
  padding: 25px 0px;
}

.copyright-section span {
  color: #ffffff;
  font-family: "popins-medium";
  font-size: 14px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots {
  bottom: 15px !important;
  right: 0px;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 9px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: "•";
  text-align: center;
  border: 2px solid #ffffff;
  opacity: 1;
  color: black;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:before {
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  border: 0px !important;
  font-size: 18px !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #000000;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* ************************Responsive****************** */
@media (max-width: 1366px) {
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
}

/* ************************End of Responsive****************** */
